In [16]:

# Define the function signature
def locate_card(cards,query):
    print(cards,query)

# Define the test cases
tests = []

# Ideal case
tests.append({
    'input':{
        'cards':[13,11,10,7,4,3,1,0],
        'query': 7
    },
    'output':3
})

# querry appears more than once
tests.append({
    'input':{
        'cards':[13,11,10,10,4,3,1,0],
        'query': 7
    },
    'output':3
})

# query not in cards
tests.append({
    'input':{
        'cards':[13,11,10,4,3,1,0],
        'query': 7
    },
    'output':-1
})

# query starts at begining of cards
tests.append({
    'input':{
        'cards':[13,11,10,7,4,3,1,0],
        'query': 13
    },
    'output':0
})

# cards with repeated numbers
tests.append({
    'input':{
        'cards':[13,11,10,7,4,13,10,10],
        'query': 7
    },
    'output':3
})

In [18]:
locate_card(**test['input'])

[13, 11, 10, 7, 4, 3, 1, 0] 7

In [19]:
tests

[{'input': {'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 7}, 'output': 3},
 {'input': {'cards': [13, 11, 10, 10, 4, 3, 1, 0], 'query': 7}, 'output': 3},
 {'input': {'cards': [13, 11, 10, 4, 3, 1, 0], 'query': 7}, 'output': -1},
 {'input': {'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 13}, 'output': 0},
 {'input': {'cards': [13, 11, 10, 7, 4, 13, 10, 10], 'query': 7}, 'output': 3}]

In [37]:

def cardLocation(cards,querry):
    position = 0
    for i in cards:
        if i == querry:
            return position
        position+=1
    print(position)

In [59]:
cardposition([13, 11, 10, 1, 4, 3, 7, 0] ,7)

[6]

6

In [61]:
positions = [6]
positions[0]

6

In [63]:
def cardposition(cards, query):
    for i in cards:
        if i == query:
            alternate_position = (len(cards)-1) - cards.index(i)
            # print(alternate_position)
            card_position = cards.index(i)
            if alternate_position > card_position:
                return card_position
            else: 
                return alternate_position    
    return -1

In [67]:
def cardposition(cards, query):
    if query not in cards:
        return -1  # Return -1 if the query is not found

    left_index = cards.index(query)  # Find the first occurrence of the query
    right_index = (len(cards) - 1) - cards[::-1].index(query)  # Find the last occurrence by reversing the list

    # Calculate the distance from both the left and right
    distance_from_left = left_index
    distance_from_right = len(cards) - 1 - right_index

    # Return the lesser of the two distances
    return min(distance_from_left, distance_from_right)

In [54]:
!pip install jovian --upgrade --quiet

In [55]:
from jovian.pythondsa import evaluate_test_case

In [68]:
evaluate_test_case(cardposition,tests[0])

Input:
{'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 7}

Expected Output:
3


Actual Output:
3

Execution Time:
0.01 ms

Test Result:
PASSED

(3, True, 0.01)

In [57]:
tests[0]

{'input': {'cards': [13, 11, 10, 7, 4, 3, 1, 0], 'query': 7}, 'output': 3}

In [73]:
float( )

0.0

In [76]:
for item in the_list:
    increase_item = item + 2
    if item == 7:
        continue
    print(increase_item)

15
13
12
6
5
3
2

In [80]:
a,b,c = 1,2,3
print(a, b, c, sep= ':' )

1:2:3

In [16]:
def is_Even(n):
    return (n & 1) == 0

In [19]:
is_Even(907)

False

In [31]:
minmax(cards)

(0, 13)

In [37]:
sumsquareslessthan_n(4)

14

## EXERCISES

### Exercise 1 
Write a short Python function, is even(k), that takes an integer value and returns True if k is even, and False otherwise. However, your function cannot use the multiplication, modulo, or division operators.

In [38]:
def is_Even(k):
    return (k & 1) == 0

### Exercise 2
Write a short Python function, minmax(data), that takes a sequence of one or more numbers, and returns the smallest and largest numbers, in the form of a tuple of length two. Do not use the built-in functions min or max in implementing your solution.

In [39]:
def minmax(array):
    mini = 100000000
    maxi = 0
    for i in array:
        mini = i if mini > i else mini
        maxi = i if maxi < i else maxi
    return (mini,maxi)

In [ ]:
cards = [13, 11, 10, 7, 4, 3, 1, 0]

In [50]:
minmax(cards)

(0, 13)

### Exercise 3
Write a short Python function that takes a positive integer n and returns the sum of the squares of all the positive integers smaller than n.
- one approach

In [30]:
def sumsquareslessthan_n(n):
    number = n-1
    sum_of_squares = 0
    while number > 0:
        sum_of_squares+=number*number
        number -= 1
    return sum_of_squares

In [33]:
sumsquareslessthan_n(4)

14

- second approach

In [34]:
def sumsquareslessthan_n2(n):
    sum_ = 0
    for i in range(1,n):
        sum_+= (n - i)**2
    return sum_

In [35]:
sumsquareslessthan_n2(4)

14

### Exercise 4
Give a single command that computes the sum from Exercise R-1.4, relying on Python’s comprehension syntax and the built-in sum function.- third approach

In [42]:
def sumsquareslessthan_n3(n):
    return sum(i**2 for i in range(1,n))

In [43]:
sumsquareslessthan_n3(4)

14

### Exercise 5
Write a short Python function that takes a positive integer n and returns the sum of the squares of all the odd positive integers smaller than n.
- one approach

In [44]:
def positive_integers_smaller_than_n(n):
    number = n - 1
    sum_of_squares = 0
    while number > 0:
        if (number & 1)==1:
            sum_of_squares+= number* number
        else:
            pass
        number -= 1
    return sum_of_squares

In [45]:
positive_integers_smaller_than_n(4)

10

- Second approach

In [48]:
def positive_integers_smaller_than_n2(n):
    sum_ = 0
    for i in range(1,n):
        if (i & 1)==1:
            sum_+= (n - i)**2
    return sum_

In [49]:
positive_integers_smaller_than_n2(4)

10

### Exercise 6
What parameters should be sent to the range constructor, to produce a range with values 50, 60, 70, 80?

In [3]:
for i in range(50,90,10):
    print(i)

50
60
70
80

In [8]:
for i in range(8,-10,-2):
    print(i)

8
6
4
2
0
-2
-4
-6
-8

### Exercise 7
Demonstrate how to use Python’s list comprehension syntax to produce mthe list [1, 2, 4, 8, 16, 32, 64, 128, 256].

In [86]:
squares = [2**i for i in range(9)]

In [67]:
squares

[1, 2, 4, 8, 16, 32, 64, 128, 256]

### Exercise 9
Write a pseudo-code description of a function that reverses a list of n integers, so that the numbers are listed in the opposite order than they were before, and compare this method to an equivalent Python function for doing the same thing.

In [89]:
squares = [2**i for i in range(9)]
squares

[1, 2, 4, 8, 16, 32, 64, 128, 256]

- one approach
- create a  list called reverser list that reverses the indices from behind and populates a new list that can then replace the old list
- this one leaves the initial list unchanged. does not do the reversal in-place

In [73]:
squares
reverser = [i for i in range(1,(len(squares)) * 2 ,2)]
reverser

[1, 3, 5, 7, 9, 11, 13, 15, 17]

In [90]:
def reverse_list(array):
    array2 = []
    reverser = [i for i in range(1,(len(array)) * 2 ,2)]
    for i in range(len(array)):
        reverse = i-reverser[i]
        array2.append(array[reverse])
    array = array2
    return array

In [91]:
reverse_list(squares)

[256, 128, 64, 32, 16, 8, 4, 2, 1]

In [92]:
squares

[1, 2, 4, 8, 16, 32, 64, 128, 256]

- second approach.
- switch the elements positions by counting indices upward and downward simultaneously  using pythons simultaneos assignment. this one does the work in place

In [103]:
def reverse_list3(array):
    last_index_of_list = len(array) - 1
    for i in range(length_of_list//2):
        array[i],array[last_index_of_list - i] = array[last_index_of_list - i],array[i]
    return array

In [104]:
reverse_list2(squares)

[1, 2, 4, 8, 16, 32, 64, 128, 256]

### Exercise 10
Write a short Python function that takes a sequence of integer values and determines if there is a distinct pair of numbers in the sequence whose product is odd.

- first method checks the product to see odd result is true then saves

In [130]:
def testfunc(array):
    legnth_of_array= len(array)
    odd_pairs = []
    for idx,element in enumerate(array): 
        for i in range(idx +1,legnth_of_array):
            product = element * array[i]
            if (product & 1) == 1:
                odd_pairs.append((element,array[i]))
    return odd_pairs

In [131]:
testfunc([1,2,3,4,5,7])

[(1, 3), (1, 5), (1, 7), (3, 5), (3, 7), (5, 7)]

- second approach just checks if both numbers are odd. Because only two odd numbers can give you an odd number product

In [128]:
def testfunc2(array):
    len_of_array = len(array)
    odd_pairs = []
    for idx,element in enumerate(array):
        for i in range(idx + 1, len_of_array):
            if ((element & 1) == 1 and (array[i] & 1) == 1):
                odd_pairs.append((element,array[i]))
    return odd_pairs

In [129]:
testfunc2([1,2,3,4,5,7])

[(1, 3), (1, 5), (1, 7), (3, 5), (3, 7), (5, 7)]